In [2]:

import pandas as pd
import numpy as np

In [3]:
dates=pd.date_range("20190809",periods=32)
dates

DatetimeIndex(['2019-08-09', '2019-08-10', '2019-08-11', '2019-08-12',
               '2019-08-13', '2019-08-14', '2019-08-15', '2019-08-16',
               '2019-08-17', '2019-08-18', '2019-08-19', '2019-08-20',
               '2019-08-21', '2019-08-22', '2019-08-23', '2019-08-24',
               '2019-08-25', '2019-08-26', '2019-08-27', '2019-08-28',
               '2019-08-29', '2019-08-30', '2019-08-31', '2019-09-01',
               '2019-09-02', '2019-09-03', '2019-09-04', '2019-09-05',
               '2019-09-06', '2019-09-07', '2019-09-08', '2019-09-09'],
              dtype='datetime64[ns]', freq='D')

In [5]:
<class.'pandas.tseries.index.DateTimeIndex'>

SyntaxError: invalid syntax (<ipython-input-5-759adf99fc92>, line 1)

In [17]:
df=pd.DataFrame(np.random.randn(32),index=dates)
df

                   0
2019-08-09  1.562272
2019-08-10 -0.524881
2019-08-11 -1.240371
2019-08-12  0.508319
2019-08-13 -1.687500
2019-08-14 -0.551692
2019-08-15  0.590372
2019-08-16 -0.807946
2019-08-17  0.410223
2019-08-18  1.581465
2019-08-19  0.012679
2019-08-20  0.317127
2019-08-21  1.822528
2019-08-22 -1.765520
2019-08-23  0.614198
2019-08-24 -0.610172
2019-08-25  0.171291
2019-08-26  0.529959
2019-08-27 -0.585430
2019-08-28  0.848493
2019-08-29 -0.144565
2019-08-30 -0.326687
2019-08-31 -1.919390
2019-09-01 -0.231083
2019-09-02  0.206944
2019-09-03 -1.640817
2019-09-04  0.672020
2019-09-05  2.248141
2019-09-06 -0.664137
2019-09-07 -0.527812
2019-09-08 -0.503878
2019-09-09 -1.315319

In [18]:
df.transpose()

,2019-08-09 00:00:00,2019-08-10 00:00:00,2019-08-11 00:00:00,2019-08-12 00:00:00,2019-08-13 00:00:00,2019-08-14 00:00:00,2019-08-15 00:00:00,2019-08-16 00:00:00,2019-08-17 00:00:00,2019-08-18 00:00:00,...,2019-08-31 00:00:00,2019-09-01 00:00:00,2019-09-02 00:00:00,2019-09-03 00:00:00,2019-09-04 00:00:00,2019-09-05 00:00:00,2019-09-06 00:00:00,2019-09-07 00:00:00,2019-09-08 00:00:00,2019-09-09 00:00:00
0,1.562272,-0.524881,-1.240371,0.508319,-1.6875,-0.551692,0.590372,-0.807946,0.410223,1.581465,...,-1.91939,-0.231083,0.206944,-1.640817,0.67202,2.248141,-0.664137,-0.527812,-0.503878,-1.315319

In [11]:
df

                   0
2019-08-09  1.189788
2019-08-10 -0.897527
2019-08-11 -1.765759
2019-08-12 -0.588360
2019-08-13 -0.907919
2019-08-14 -0.090490
2019-08-15  0.452917
2019-08-16  1.297560
2019-08-17  0.611308
2019-08-18 -0.121629
2019-08-19  0.845626
2019-08-20  1.689142
2019-08-21  2.705666
2019-08-22 -0.434603
2019-08-23 -1.422434
2019-08-24  1.571566
2019-08-25 -0.856246
2019-08-26  1.277513
2019-08-27  0.294638
2019-08-28 -0.627114
2019-08-29 -0.268913
2019-08-30 -1.142149
2019-08-31 -0.129182
2019-09-01 -1.750139
2019-09-02 -0.825831
2019-09-03 -0.706723
2019-09-04  0.421817
2019-09-05  0.440596
2019-09-06 -0.365523
2019-09-07 -1.038336
2019-09-08  0.768026
2019-09-09  2.050989

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

import numpy as np
import pandas as pd

In [2]:
url1='https://useacc.com/2017/04/02/attraction-strategy-tdl/'
dfs=pd.read_html(url1)
len(dfs)

4

In [12]:
dfs[1]

       0                     1      2     3
0   ピーク時              アトラクション名  ピーク待ち  平均待ち
1   9:00         バズ（バズ・ライトイヤー）   126分   96分
2   9:00       プー（プーさんのハニーハント）   133分  106分
3   9:30    ビッグ（ビッグサンダー・マウンテン）   171分  135分
4  10:00      モンイン（モンスターズ・インク）   146分  111分
5  11:00      スペマン（スペース・マウンテン）   155分  133分
6  13:30        スタツア（スター・ツアーズ）    62分   47分
7  15:30  スプラッシュ（スプラッシュ・マウンテン）   186分  149分
8  16:30   マンション（ホーンテッド・マンション）   104分   67分

In [13]:
dfs[3]

,0,1,2,3,4,5,6,7,8
0,NaN,モンイン,バズ,スペマン,スタツア,ビッグ,スプラッシュ,プー,マンション
1,8:15,12:00-13:00,10:00-11:00,9:15-10:15,11:30-12:30,9:30-10:30,9:45-10:45,10:15-11:15,11:30-12:30
2,8:45,16:45-17:45,12:15-13:15,10:45-11:45,11:30-12:30,11:15-12:15,12:15-13:15,13:30-14:30,11:30-12:30
3,9:15,19:00-20:00,13:15-14:15,12:00-13:00,11:45-12:45,13:15-14:15,14:30-15:30,16:30-17:30,11:45-12:45
4,9:45,20:45-21:45,14:30-15:30,13:15-14:15,12:00-13:00,15:00-16:00,16:45-17:45,18:15-19:15,12:00-13:00
5,10:15,終了,15:45-16:45,14:15-15:15,12:00-13:00,16:15-17:15,18:45-19:45,19:30-20:30,12:15-13:15
6,10:45,終了,17:45-18:45,15:15-16:15,12:30-13:30,17:45-18:45,終了,21:00-22:00,12:45-13:45
7,11:15,終了,19:45-20:45,16:45-17:45,13:00-14:00,19:30-20:30,終了,終了,13:30-14:30
8,11:45,終了,21:15-22:00,18:15-19:15,13:30-14:30,21:30-22:00,終了,終了,15:00-16:00
9,12:15,終了,終了,19:45-20:45,14:30-15:30,終了,終了,終了,16:30-17:30
10,12:45,終了,終了,終了,15:45-16:45,終了,終了,終了,17:45-18:45
11,13:15,終了,終了,終了,17:30-18:30,終了,終了,終了,19:30-20:30
12,13:45,終了,終了,終了,19:00-20:00,終了,終了,終了,21:00-21:30
13,14:15,終了,終了,終了,20:15-21:15,終了,終了,終了,終了
14,14:45,終了,終了,終了,21:15-22:00,終了,終了,終了,終了
15,15:15,終了,終了,終了,終了,終了,終了,終了,終了

In [14]:
url2='https://useacc.com/2017/02/05/congestion-information-of-tdl/'
tdl=pd.read_html(url2)
len(tdl)

3

In [15]:
tdl[1]

       0    1           2
0   混雑順位    月  平均待ち 時間(分)
1     1位   3月       104.4
2     2位   2月        68.7
3     3位  12月        63.2
4     4位   8月        62.4
5     5位  11月        60.4
6     6位  10月        56.8
7     7位   4月        55.8
8     8位   1月        55.1
9     9位   9月        48.6
10   10位   5月        48.2
11   11位   7月        42.9
12   12位   6月        42.6

In [16]:
tdl[2]

    0   1   2    3   4   5   6   7   8   9    10   11   12
0  NaN  １月  ２月   ３月  ４月  ５月  ６月  ７月  ８月  ９月  １０月  １１月  １２月
1    日  68  77  121  68  64  59  53  64  66   74   89   85
2    月  48  54  103  54  51  50  42  61  52   58   76   53
3    火  52  65  106  55  38  30  36  62  46   51   46   39
4    水  58  67  102  47  39  35  35  61  41   44   47   49
5    木  46  72   93  26  39  28  42  64  42   44   41   55
6    金  50  65   93  60  41  37  38  66  42   44   47   69
7    土  60  85  116  76  63  67  52  61  56   73   85   87
8   平均  55  69  104  56  48  43  43  62  49   57   60   63

IndexError: list index out of range